<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rafaa.vecinstrumentpanel">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.rafaa.vecinstrumentpanel.activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="me.rafaa.vecinstrumentpanel.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.rafaa.vecinstrumentpanel.activity.ConfigActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <service
            android:name="me.rafaa.vecinstrumentpanel.io.ObdGatewayService"
            android:launchMode="singleInstance"
            android:exported="false" />
        <service
            android:name="me.rafaa.vecinstrumentpanel.io.MockObdGatewayService"
            android:launchMode="singleInstance"
            android:exported="false" />

        <meta-data android:name="com.skobbler.ngx.API_KEY" android:value="a3c41bb1817c849a6b815174c3958ab94cfc6beec419345c4a9dde4f0e6704de"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>